@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 336px;
    }

    .Login .label {
        width: 80px;
        height: 20px;
        display: inline-block;
    }
    
    .Login .group {
        margin: 4px;
    }

    .Login button {
        display: flex;
        float: right;
        margin: 4px;
    }
}
  