@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 360px;
  }

  .Login .label {
    display: inline-block;
    padding: 0;
  }

  .Login .group {
    margin: 4px;
  }

  .Login button {
    display: flex;
    justify-content: center;
    float: right;
    align-items: flex-end;
    max-width: 100px;
    margin: 4px;
  }
}
